/*C++*/

#include <iostream>
#include <cmath>

/*Programm name: "scrambler"*/
// example: Aa1Aa1 = AA aa 11
// PmeRnIiaVz8oEvuTtKvAovKD0ELAa

using namespace std;

int main() 
{
  string code;
  cout << "Enter code: ";
  cin >> code;
  
  bool good = true;
  
  for (int i = 0;i < code.length();i++){
    if (code[i] >= 'A' && code[i] <= 'Z'){
      cout << code[i];
    }
  }
  cout << " ";
  for (int i = 0;i < code.length();i++){
    if (code[i] >= 'a' && code[i] <= 'z'){
      cout << code[i];
    }
  }
  cout << " ";
  for (int i = 0;i < code.length();i++){
    if (code[i] >= '0' && code[i] <= '9'){
      cout << code[i];
    }
  }
  
}
